<%= render "shared/second-header"%> 
<div class='recipe-post'>

<div class= 'post-header'>
  <div class= 'title'>
    <h1>投稿画面</h1>
  </div>
  <div class= 'subtitle'>
    <p>全て入力してから、[投稿する]を押してください。</p>
  </div>



  <div class='select-level'>
    <select name='recipe[level_ids][]'>
      <option value="">Level</option>
      <% Level.all.each do |level| %>
      <option><%= level.name %></option>
      <% end %>
    </select>
  </div>

  <div class='select-time'>
    <select name='recipe[cookingtime_ids][]'>
      <option value="">Time</option>
       <% Cookingtime.all.each do |time| %>
      <option><%= time.name %></option>
      <% end %>
    </select>
  </div>



  <%= render "shared/second-footer"%> 