<footer class='top-page-footer'>

<div class = 'footer-container' >
  <div class= 'insta'>
    <a href = "#"><i class="fab fa-instagram fa-3x iconcolor"></i><a>
  </div>
  <div class= 'footer-title'>
    <h1 class="footer-message">Enjoy Your Vegan Life!</h1>
  </div>
</footer>