h1 {
  font-family: 'Abril Fatface', cursive;
}

h2 {
  font-family: 'Abril Fatface', cursive;
  color: #878986;
  padding-bottom: 20px;
}

h3 {
  font-family: 'Kosugi', sans-serif;
  color: #878986;
  padding-bottom: 20px;
}

h4 {
  color: #DB5C35;
  font-family: 'Abril Fatface', cursive;
}

h5 {
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  color:  #709365;
}



.recipe-container {
  background-color: antiquewhite;
  width: 100%;
  height: 100%;
}

.search-box {
  display: flex;
  justify-content: center;
  padding: 2vh;
}

.search-level {
  padding-right: 2vh;
}

.search-cookingtime {
  padding-right: 2vh;
}

.search-btn {
  padding-left: 2vh;
}

.main {
  background-color: antiquewhite;
}


.innner {
  /* width: 1024px; */
  margin: 0 auto;
}

.r-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
}

.r-list {
  width: calc((100% - 75px) / 4);
  margin-bottom: 40px;
}

.recipe-img{
  padding: 4vw;
  padding-bottom: 0px;
  width: 320px;
  height: 400px;
  filter: drop-shadow(10px 2px 4px black);
}

.recipe-img:hover{
  transform: translate(0, -10px);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.r-body{
  padding-left: 6vw;
}

.r-name{
  font-size: 15px;
  margin-bottom: 8px;
}

.r-like{
  font-size: 15px;
}

.title {
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  color:  #709365;
  padding: 20px;
}

.subtitle {
  text-align: center;
  font-family: 'Kosugi', sans-serif;
  color: #878986;
  padding-bottom: 20px;
}

.textarea {
  resize: none;
  width:300px;
  height:200px;
}

.share-btn{
  position: fixed;
  bottom: 10px; 
  right: 10px;
  padding: 1vw;
}

@media (max-width: 1024px) {

  .inner {
    width: 100%;
    margin: 0 auto;
  }

  .r-list {
    width: calc((100% - 50px) / 2);
  }

  .r-wrapper{
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .recipe-img {
    width: 300px;
    height: 420px;
  }

  .r-name {
    font-size: 20px;
  }
  .r-likes {
    font-size: 16px;
  }

  .index-footer {
   display: flex;
  }

  .share-btn {
  width: 250px;
  }
}

@media (max-width: 599px) {
  .search-box {
    width: 80%;
  }

  .search-btn {
    width: 40px;
    padding-top: 3vh;
  }

  .inner {
    width: 100%;
    margin: 0 auto;
  }

  .r-list {
    width: calc((100% - 100px) / 1);
    display: flex;
  }

  .r-wrapper{
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .recipe-img {
    width: 150px;
    height: 180px;
  }

  .r-body{
    width: 100%;
  }

  .r-name {
    padding: 1vh;
    font-size: 12px;
  }

  .r-likes {
    font-size: 12px;
  }

  .index-footer {
   display: flex;
  }

  .share-btn {
  width: 150px;
  height: 80px;
  }

}