.recipe-index{
  background-color: #FFFAF0;
}

.recipes-container{
  display: flex;
  height: 100vh;
}

.index-recipe-image {
  position: relative;
}

.recipe-img {
  width: 33vh;
  height: 40vh;
}

.index-recipe-name {
  text-decoration: none;
  font-family: 'Abril Fatface', cursive;
}

li {
  list-style: none;
}

.list {
  width: 37vh;
  padding: 1vw;
}

.title {
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  color:  #709365;
  padding: 20px;
}

.subtitle {
  text-align: center;
  font-family: 'Kosugi', sans-serif;
  color: #878986;
  padding-bottom: 20px;
}

.textarea {
  resize: none;
  width:300px;
  height:200px;
}

.btn-text{
  position: fixed;
  bottom: 10px; 
  right: 10px;
  width: 25vh;
  padding: 1vw;
  /* padding: 6px 40px; */
  font-family: 'Kosugi', sans-serif;
  text-decoration: none;
  font-size: 50px;
  font-weight: bold;
  color: black;
}

h4{
  color: #DB5C35;
  font-family: 'Abril Fatface', cursive;
}