.recipe-post {
  background-color:antiquewhite;
}

.recipe-image {
  text-align: center;
  padding: 20px;
}

.click-upload {
  padding-left: 50px;
}

.recipe-name {
  text-align: center;
  padding: 2vh;
}

.recipe-explain {
  text-align: center;
  padding: 2vh;
}

.selections {
  padding: 2vh;
  display: flex;
  justify-content: center;
}

.recipe-post-button {
  display: block;
  text-align: center;
  padding: 20px;
}

.levels {
  padding-right: 10px;
}

.new-btn-text {
  font-family: 'Kosugi', sans-serif;
  text-decoration: none;
  width: 50%;
  background: #709365;
  border: 1px solid #709365;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}


.recipes-text {
  resize: none;
  width: 30vw;
  height: 3vh;
}

.recipe-explain-text {
  resize: none;
  width:80vw;
  height:40vh;
}

@media (max-width: 599px) {
  .title-new-edit {
    font-size: 20px;
  }
}