.saerch-main {
  background-color:antiquewhite;
  min-height:100vh;
}

.btn-search {
  text-decoration: none;
  text-align: center;
  font-size: 50px;
  color: #709365;
  font-family: 'Abril Fatface', cursive;
}

.recipe-back-btn {
  font-size: 20px;
}

.no-result {
  text-align: center;
}

.no-result p{
  color: #878986;
}