
.recipe-show {
  background-color: antiquewhite;
  height: 100vh;
}

.show-main {
  display: flex;
  height: 100vh;
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-left {
  width: 50vw;
}

.recipe_img {
  width: 50vh;
  padding: 1vw;
}

.main-right {
  width: 30vw;
  flex-direction: column;
  text-align: left;
}

.recipe-show-name {
  font-size: 30px;
  font-family: 'Kosugi', sans-serif;
  padding-top: 2vh;
}

.recipe-show-explain {
  width: 80vh;
  height: 50vh;
}

.recipe-edit-btn {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: 'Kosugi', sans-serif;
}

.recipe-destroy {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: 'Kosugi', sans-serif;
}

.show-recipe-edit-delete {
  display: flex;
  justify-content: right;
  padding-top: 20px;
}

.btn-show {
  padding-top: 20px;
  font-family: 'Abril Fatface', cursive;
}

.recipe-back-btn{
  text-decoration: none;
  color: #709365;
}

.like-container {
  padding-top: 2vh;
}

h5 {
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  color:  #709365;
}
/* 
.show-footer {
  display: flex;
  justify-content: space-around;
  background-color: antiquewhite;
} */

.comment-title {
  font-size: 30px;
  font-weight: 900;
  padding: 2vh;
  background-color: antiquewhite;
}

.comment-container {
  display: flex;
  padding-left: 30vh;
  background-color: antiquewhite;
  text-align: center;
}

.comment-text {
  resize: none;
  width:30vw;
  height:20vh;
}

.comments {
  background-color: antiquewhite;
  text-align: center;
  padding: 2vh;
}

.comment-box {
  margin: 2vh;
}

.comment-index{
  height: 10vh;
  overflow-y: scroll;
}