.donation-container{
  background-color:antiquewhite;
  height: 100%;
  width: 100%;
}

.donation-info{
  display: flex;
  justify-content: space-around;
  padding: 2vh;
  text-align: center;
}

.donation-explain{
  padding-top: 10px;
}

.donation-sub-explain{
  font-size: 11px;
}

.donation-pic{
  width: 100%;
}

.form-donate-wrap{
  background-color:antiquewhite;
  height: 100%;
  text-align: center;
  display: block;
  padding: 2vh;
}

.button{
  text-decoration: none;
  width: 50%;
  background: #709365;
  border: 1px solid #709365;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.button:hover{
  background-color:#C87066;
  border: 1px solid #C87066;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}


.price,
.number,
.cvc,
.exp_month,
.exp_year{
  height: 100%;
  width: 120px;
  text-decoration: none;
}

@media (max-width: 560px) {
  .donation-explain {
    font-size: 12px;
  }
  .price,
  .number,
  .cvc,
  .exp_month,
  .exp_year{
    height: 100%;
    width: 100px;
    text-decoration: none;
  }
}