.donation-container{
  background-color:antiquewhite;
  height: 100%;
  width: 100%;
}

.donation-info{
  display: flex;
  justify-content: space-around;
  padding: 2vh;
  text-align: center;
}

.donation-pic {
  width: 100%;
}

.form-donate-wrap{
  background-color:antiquewhite;
  height: 100%;
  text-align: center;
  padding: 2vh;
}


.price,
.number,
.cvc,
.exp_month,
.exp_year{
  height: 100%;
  width: 120px;
  text-decoration: none;
}

@media (max-width: 560px) {
  .donation-explain {
    font-size: 12px;
  }
  .price,
  .number,
  .cvc,
  .exp_month,
  .exp_year{
    height: 100%;
    width: 100px;
    text-decoration: none;
  }
}