a{
  color: black;
}

.item-container {
  padding: 2vh;
}

.search-main{
  background-color: antiquewhite;
  min-height:100vh;
}

.product-container{
  background-color: antiquewhite;
}

@media (max-width: 560px) {
  .commom-sub-title {
    font-size: 25px;
  }

  .product-subtitle-explain {
    font-size: 12px;
  }
}
